[submodule "library/Propel"]
	path = library/Propel
	url = https://github.com/propelorm/PropelBundle.git
[submodule "tests/library/phpunit"]
	path = tests/library/phpunit
	url = https://github.com/sebastianbergmann/phpunit
[submodule "library/Zend"]
	path = library/Zend
	url = git://github.com/zendframework/zf2.git
